#{extends 'main.html' /}
#{set title:'Home' /}

<div class="row-fluid">
	<div class="span5 offset3">

<!-- Formulaire pour upload une nouvelle photo -->
#{form @Members.save(),  class:'form-horizontal' }
 
 <div class="control-group">
      <div class="controls">
	  <input type="hidden" placeholder="Id" class="span2" name="member.id" id="member_id" value="${member.id}" />
      </div>
   </div>
 
 	<!-- Picture -->
 	 <label class="control-label" id="label_member_picture" for="member_picture">Your Picture </label> 
    <input type="file" name="member.picture" />
    
       <!--Age -->
    <div class="control-group">
	  <label class="control-label" id="label_member_age" for="member_age">Your age</label> 
      <div class="controls">
	  <input type="text"  placeholder="Age" name="member.age" id="member_age"  />
      </div>
   </div>
   
   <!-- job -->
    <div class="control-group">
	  <label class="control-label" id="label_member_job" for="member_job">Your Job</label> 
      <div class="controls">
	  <input type="text"  placeholder="Job" name="member.job" id="member_job"  />
      </div>
   </div>
    
     </div>
  </div>
    
       <div class="span3 offset4"> <input type="submit" class="btn btn-primary active" value="Complete"/> </div>

#{/form}

