#{extends 'main.html' /}
#{set title:'Home' /}

<div class="well well-small">

  <h3> Hello ${m.firstName} <h3>
 
<div class="container-fluid">
	<div class="row-fluid">
 		<div class="span4 offset2">
 			<a href="@{Events.calendar(m.id)}"> Your Calendar </a> </br>
 		</div>
 		
 		
 	
 		<div class="span4 offset2 "> 
  			 <a href="@{Members.profile(m.id)}"> Your Profile </a> 
  		</div>
  	 </div>
  	 
  	 <div class="row-fluid">
  		<div class="span4 offset2">
  		 	<a href="@{Events.calendar(m.id)}">  <img class="img-polaroid" src="/public/images/calendar.jpg" width="300" height="200"/> </a>
  		</div>
  		
  		<div class="span4 offset2">
  			<a href="@{Members.profile(m.id)}"> <img class="img-polaroid" src="/public/images/profile.jpg" width="200" height="200"/> </a> 
  		</div>
  		
  		
  	</div>
 </div>
 </div>